# Output files
*.forward
*.backward
*.log
*.Laplace
*.Climate
*.DailyInsolInit
*.inv
*.pdf
*.png
*.zip
*.ps
*.gif
*.npz
*.dat
*.Ecc.Eigen
*.Inc.Eigen
SeasonalClimateFiles
*.hdf5

#files created from running tests
tests/Multi-PlanetCheckpoint/MP_Checkpoint/
tests/Multi-PlanetMpStatus/MP_Status/
tests/Multi-PlanetParallel/MP_Parallel/
tests/Multi-PlanetSerial/MP_Serial/
tests/Vspace_Explicit/Explict_Test/
tests/Vspace_Linear/Linear_Test/
tests/Vspace_Log/Log_Test/
tests/BigPlanetCreateHDF5/BP_CreateHDF5/
tests/BigPlanetExtract/BP_Extract/
tests/BigPlanetStats/BP_Stats/


# Examples
examples/ParameterSweep/ParameterSweep/
examples/IoHeat/data/


# Aux files / build info / garbage
merge-from-public.sh
merge-from-private.sh
*.pyc
*/__pycache__
*.dSYM
*.DS_Store
*.*~
vplot_config.py
*.bst
*.aux
*.bbl
*.blg
*/build
*/dist
*/*.egg-info
*.pkl
*.ipynb_checkpoints
*.track1
*.txt
proxcen.pdf
vplanet.egg-info
.pytest_cache
gcov/*
*.o
*.so
*.valgrind
*.cache

# Documentation
docs/.build
docs/src
docs/src.rst
docs/examples
docs/examples.rst
docs/bugs
docs/bugs.rst
docs/help.rst

# The executable
vplanet

# Tool-specific
bigplanet/bigplanet/vabc.py
bigplanet/bigplanet/big_ml.py
bigplanet/bigplanet/bootstrap_utils.py
bigplanet/Dev
proximacenbradius.py
proximacenstellar.py
sandbox
todo
misc
vplot/
