# Output files
*.forward
*.backward
*.log
*.Laplace
*.Climate
*.DailyInsolInit
*.inv
*.pdf
*.png
*.zip
*.ps
*.gif
*.npz
*.dat
*.Ecc.Eigen
*.Inc.Eigen
SeasonalClimateFiles
*.hdf5
*.vscode

#files created from running tests
*MP_Checkpoint*
*MP_Status*
*MP_Parallel*
tests/Multi-PlanetSerial/MP_Serial/
tests/Vspace_Explicit/Explict_Test/
tests/Vspace_Linear/Linear_Test/
tests/Vspace_Log/Log_Test/
*BP_CreateHDF5*
*BP_Extract*
*BP_Stats*

coverage.info
.coverage

# Examples
examples/ParameterSweep/ParameterSweep/
examples/IoHeat/data/


# Aux files / build info / garbage
merge-from-public.sh
merge-from-private.sh
*.pyc
*/__pycache__
*.dSYM
*.DS_Store
*.*~
vplot_config.py
*.bst
*.aux
*.bpa
*.bpf
*.blg
*/build
*/dist
*/*.egg-info
*.pkl
*.ipynb_checkpoints
*.track1
*.txt
proxcen.pdf
vplanet.egg-info
.pytest_cache
gcov/*
*.o
*.so
*.valgrind
*.cache
*.floatingpoint
*.sanitize

# Documentation
docs/.build
docs/src
docs/src.rst
docs/examples
docs/examples.rst
docs/bugs
docs/bugs.rst
docs/help.rst

# The executable
bin/vplanet

# Tool-specific
bigplanet/bigplanet/vabc.py
bigplanet/bigplanet/big_ml.py
bigplanet/bigplanet/bootstrap_utils.py
bigplanet/Dev
proximacenbradius.py
proximacenstellar.py
sandbox
todo
misc
vplot/
build/
dist/
vplanet/vplanet_version.py
