# Output files
*.forward
*.log
*.Laplace
*.Climate
*.DailyInsolInit
*.inv
*.pdf
*.png
*.zip
*.ps
*.gif
*.npz
*.dat

# Aux files / build info / garbage
*.pyc
*/__pycache__
*.dSYM
*.DS_Store
*.*~
vplot_config.py
*.bst
*.aux
*.bbl
*.blg
*/build
*/dist
*/*.egg-info
*.pkl
*.ipynb_checkpoints
*.track1
*.txt
proxcen.pdf
vplanet.egg-info
.pytest_cache

# Documentation
docs/.build
docs/rst
docs/source.rst

# The executable
vplanet

# Module-specific
bigplanet/bigplanet/vabc.py
bigplanet/bigplanet/big_ml.py
bigplanet/bigplanet/bootstrap_utils.py
bigplanet/Dev
proximacenbradius.py
proximacenstellar.py
sandbox
todo
misc
