name: docs

on:
  push:
    branches: [main]

jobs:
  docs:
    name: "Build docs"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Set up Python
        id: setup_python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          cache: 'pip'

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y doxygen doxygen-doc

      - name: Install Python dependencies
        run: |
          python -m pip install -U pip
          python -m pip install -e .
          python -m pip install sphinx sphinx-rtd-theme breathe sphinxcontrib-bibtex

      - name: Build
        id: build
        run: |
          cd docs
          make html
          cp sphinx_rtd_theme/static/css/theme.css .build/html/_static/css/theme.css
          touch .build/html/.nojekyll

      - name: Publish
        uses: JamesIves/github-pages-deploy-action@v4
        if: steps.build.outcome == 'success' && github.event_name == 'push'
        with:
          branch: gh-pages
          folder: docs/.build/html
