name: examples

on:
  release:
    types: [published]

jobs:
  tests:
    name: '${{ matrix.python-version }}'
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.6', '3.7', '3.8', '3.9', '3.10', '3.11']

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install Latex
        id: install_latex
        shell: bash -l {0}
        run: |
          sudo apt-get update
          sudo apt-get install cm-super
          sudo apt-get install texlive-fonts-recommended texlive-fonts-extra
          sudo apt-get install dvipng
          sudo apt-get update

      - name: Set up Python
        id: setup_python
        uses: conda-incubator/setup-miniconda@v3
        with:
          activate-environment: vplanet
          environment-file: environment.yml
          python-version: ${{ matrix.python-version }}

      - name: Install
        id: install
        if: steps.setup_python.outcome == 'success'
        shell: bash -l {0}
        run: |
          python -m pip install -U pip
          python -m pip install -e .

      - name: Run Examples
        if: steps.install.outcome == 'success'
        shell: bash -l {0}
        run: python docs/run_examples.py
