name: floating-point

on:
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  floatingpoint:
    name: Check for floating point exceptions
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          cache: 'pip'
          cache-dependency-path: setup.py

      - name: Install dependencies
        run: |
          python -m pip install -U pip
          python -m pip install -e .

      - name: Run floating point check
        run: |
          cd tests/
          python floatingpoint.py
