name: memcheck

on:
  release:
    types: [published]

jobs:
  valgrind:
    name: Run Valgrind on Ubuntu
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          cache: 'pip'
          cache-dependency-path: setup.py

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y valgrind
          python -m pip install -U pip
          python -m pip install -e .

      - name: Run valgrind test
        run: |
          cd tests/
          python valgrind.py
