name: pip-install

on:
  release:
    types:
      - published

jobs:

  build:
    name: 'py${{ matrix.python }} on ${{ matrix.os }}'
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04, ubuntu-24.04, macos-15-intel, macos-26]
        python: ['3.9', '3.10', '3.11', '3.12', '3.13', '3.14']

    steps:
      - uses: actions/checkout@v5
        with:
          submodules: true
          fetch-depth: 0

      - uses: actions/setup-python@v5
        name: Install Python
        with:
          python-version: ${{ matrix.python }}
          allow-prereleases: true

      - name: Build
        run: |
          python -m pip install -U pip build twine setuptools setuptools_scm wheel
          python -m build

      - name: Test the sdist
        run: |
          python -m venv venv-sdist
          venv-sdist/bin/python -m pip install dist/vplanet*.tar.gz
          venv-sdist/bin/python -c "import vplanet; print(vplanet.__version__)"

      - name: Test the wheel
        run: |
          python -m venv venv-wheel
          venv-wheel/bin/python -m pip install dist/vplanet*.whl
          venv-wheel/bin/python -c "import vplanet; print(vplanet.__version__)"

      - uses: actions/upload-artifact@v4
        with:
          name: dist-${{ matrix.os }}-${{ matrix.python }}
          path: dist/*

  upload_pypi:
    needs: [build]
    runs-on: ubuntu-latest
    if: github.event_name == 'release' && github.event.action == 'published' && github.repository == 'VirtualPlanetaryLaboratory/vplanet'
    permissions:
      id-token: write

    steps:
      - uses: actions/download-artifact@v4
        with:
          pattern: dist-*
          path: dist
          merge-multiple: true

      - uses: pypa/gh-action-pypi-publish@release/v1
